


<%= link_to 'New Design', new_design_path %>

<h1>Designs</h1>

<div class="row">
    <% @designs.each do |design| %>

      <div class="card" style="width: 18rem;">

        <% if design.photo.attached? %>
          <%= image_tag design.photo, :class => "card-img-top" %>
        <% else %>
          <%= image_tag image_path("temp_logo.jpg"), :class => "card-img-top" %>

        <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= design.name %></h5>
            <p class="card-text"><%= design.description %></p>
            <%= link_to 'Edit', edit_design_path(design) %>

            <%= link_to 'Delete', design, method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
          </div>

      </div>
    <% end %>
  </div>

<br>

