
<%= link_to 'New Cake Dealer', new_cake_dealer_path %>

<h1>Cake Dealers</h1>

<div class="row">

  <tbody>
    <% @cake_dealers.each do |cake_dealer| %>

      <div class="card" style="width: 18rem;">

      <% if cake_dealer.user.photo.attached? %>
        <%= image_tag cake_dealer.user.photo, :class => "card-img-top" %>
      <% else %>
        <%= image_tag image_path("temp_avatar.jpeg"), :class => "card-img-top" %>

      <% end %>

        <div class="card-body">
          <h5 class="card-title"> <%= cake_dealer.user.first_name %></h5>
          <p class="card-text"><%= cake_dealer.user.hometown %></p>
        
        <% if has_role?("Admin") %>
          <%= link_to 'Edit', edit_cake_dealer_path(cake_dealer) %>

          <%= link_to 'Delete', cake_dealer, method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>

    </div>
  <% end %>
</div>


<br>

