<p id="notice"><%= notice %></p>

<%= link_to 'New Category', new_category_path %>

<h1>Categories</h1>


  <tbody>
    <% @categories.each do |category| %>

      <div class="card" style="width: 18rem;">
      <%= image_tag image_path("category_tshirt.png"), :class => "card-img-top" %>

        <div class="card-body">
          <h5 class="card-title"><%= category.name %></h5>
          <p class="card-text"><%= category.description %></p>
          <%= link_to 'Edit', edit_category_path(category) %>

          <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>

   


<br>


