<!DOCTYPE html>
<html>
  <head>
    <title>Jccd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/x-icon' %>
   
  </head>

  <body>
    <nav id="sidebar">
      <div class="sidebar-header">

              <h3>JC Cake Dealers</h3>
      </div>
      
          <ul class="list-unstyled components">

          <a href="/">
              <p class="big-list-item">Dashboard</p>
          </a>

          <% if has_role?("Admin") %>
            <li>
              <a href="#inventorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle big-list-item">Inventory</a>
              <ul class="collapse list-unstyled" id="inventorySubmenu">
                <li>
                  <a href="/courses">- Full List</a>
                </li>
                <li>
                  <a href="/courses/new">- Add New</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle big-list-item">Products</a>
              <ul class="collapse list-unstyled" id="productSubmenu">
                <li>
                  <a href="/products">- All Products</a>
                </li>
                <li>
                  <a href="/categories">- Categories</a>
                </li>
              </ul>
            </li>

              <% end %>

              <% if has_role?("CakeDealer") %>
            <li class="big-list-item">
              <a href="/cake_dealers/<%= current_user.userable_id %>">My Profile</a>
            </li>
            <li class="big-list-item">
              <%= link_to 'Inventory', inventory_path(current_user.userable_id) %>
            </li>
            <li class="big-list-item">
              <a href="/products">Products</a>
            </li>

              <% end %>  

            <li class="big-list-item">
              <a href="/cake_dealers">Cake Deakers</a>
            </li>
            

              <% if has_role?("Admin") %>

            <li class="big-list-item">
              <a href="/admins">Admins</a>
            </li>
            <li class="sub-menu big-list-item">Add User</li>
              <ul class="quick-add">
                <li>
                  <a href="/cake_dealers/new">+ Cake Dealer</a>
                </li>
                <li>
                  <a href="/admins/new">+ Admin</a>
                </li>

                <% end %>

              </ul>
            </l1>
        </div>
      </ul>
    </nav>
        <div id="content">
        <nav id="top-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
         
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Inventory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cake Dealers</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <ul>
          <%= render 'devise/menu/login_nav' %>
          </ul>
        </div>
    </nav>
         
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>


            <%= yield %>


        </div>
    

  </body>
</html>
