<!DOCTYPE html>
<html>
  <head>
    <title>JC Cake Dealers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="container-fluid">
            <h1> Hello, World!</h1>

            <a class="nav-item nav-link" <%= link_to 'Login', new_user_session_path %>    </a>

            <%= yield %>
        </div>
    </body>
</html>